*.pyc
__pycache__/
functions\__pycache__/
dialogs\__pycache__/
__pycache__/main.cpython-311.pyc
functions/__pycache__/Function.cpython-311.pyc
functions/__pycache__/Function.cpython-311.pyc
__pycache__/main_settings.cpython-311.pyc
__pycache__/main.cpython-311.pyc
dialogs/__pycache__/dialogs.cpython-311.pyc
dialogs/__pycache__/window_setting.cpython-311.pyc
functions/__pycache__/Function.cpython-311.pyc
