*.pyc
__pycache__/
functions\__pycache__/
dialogs\__pycache__/
__pycache__/main.cpython-311.pyc
functions/__pycache__/Function.cpython-311.pyc
functions/__pycache__/Function.cpython-311.pyc
__pycache__/main_settings.cpython-311.pyc
__pycache__/main.cpython-311.pyc
dialogs/__pycache__/dialogs.cpython-311.pyc
dialogs/__pycache__/window_setting.cpython-311.pyc
functions/__pycache__/Function.cpython-311.pyc
build.ps1
build/
build/main/xref-main.html
build/main/xref-main.html
build/main/warn-main.txt
build/main/PYZ-00.toc
build/main/PYZ-00.pyz
build/main/PKG-00.toc
build/main/main.pkg
build/main/EXE-00.toc
build/main/Analysis-00.toc
